<div class="title">
    <h1>Popular foods</h1>
 </div>
 
 
 <ul>
    <div class="carousel-container">

  
    <ngx-slick-carousel class="meal-container carousel" #slickModal="slick-carousel" [config]="slideConfig">

      <li ngxSlickItem *ngFor="let meal of meals" class="meal-container">
    <div class="meal-card">
      <div class="image-container">
        <img src="{{meal.image}}" alt="">
      </div>
      <div class="meal-info">
        <h3>{{ meal.name }}</h3>
      </div>
    </div>
  </li>
    
    </ngx-slick-carousel>
  </div>
</ul>
